<div class="row">
    <div class="col-sm-12">
        <h2>Account Overview</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Personal Information</h3>

        <div class="row">
            <div class=" col-sm-6">
                <p class="ui-label">First name</p>
                <p>{{#if loggedIn.fname}}{{loggedIn.fname}}{{else}}<i>No info</i>{{/if}}</p>
            </div>
            <div class=" col-sm-6">
                <p class="ui-label">Last name</p>
                <p>{{#if loggedIn.lname}}{{loggedIn.lname}}{{else}}<i>No info</i>{{/if}}</p>
            </div>
        </div>

        <div class="">
            <p class="ui-label">Email</p>
            <p>{{#if loggedIn.email}}{{loggedIn.email}}{{else}}<i>No info</i>{{/if}}</p>
        </div>

        <div>
            <a href="/account/config" class="btn btn-primary">Update info</a>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Security</h3>

        <div>
            <a href="/account/security" class="btn btn-primary">Change my password</a>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Third-party Bulb Integrations</h3>

        <div>
            <a href="/auth/confirm" class="btn btn-primary">Add new integration</a>
        </div>

        <table class="table table-striped ui-table">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Configuration</th>
                </tr>
            </thead>
            <tbody>
                {{#each integrations}}
                <tr{{#if this.requiresAuth}} class="danger"{{/if}}>
                    <td>{{#if this.label}}{{this.label}}{{else}}<i>Unlabeled</i>{{/if}}</td>
                    <td>{{this.type}}</td>
                    <td>{{#if this.requiresAuth}}Requires authorization{{else}}Ok.{{/if}}</div></td>
                    <td>
                        <p>
                            {{#if this.requiresAuth}}
                            <a href="/auth/confirm/{{this.id}}" class="btn btn-default">Reauthorize</a>
                            {{else}}
                            <a href="/auth/label/{{this.id}}" class="btn btn-default">Edit</a>
                            {{/if}}
                            <a href="/auth/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                        </p>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="6">No virtual orbs are associated with this account.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
