<div class="row">
    <div class="col-sm-12">
        <h2>Account Overview</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Personal Information</h3>

        <div class="row">
            <div class=" col-sm-6">
                <p><b>First name</b></p>
                <p>{{#if loggedIn.fname}}{{loggedIn.fname}}{{else}}<i>No info</i>{{/if}}</p>
            </div>
            <div class=" col-sm-6">
                <p><b>Last name</b></p>
                <p>{{#if loggedIn.lname}}{{loggedIn.lname}}{{else}}<i>No info</i>{{/if}}</p>
            </div>
        </div>

        <div class="">
            <p><b>Email</b></p>
            <p>{{#if loggedIn.email}}{{loggedIn.email}}{{else}}<i>No info</i>{{/if}}</p>
        </div>

        <div>
            <a href="/account/config" class="btn btn-primary">Update info</a>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Security</h3>

        <div>
            <a href="/account/security" class="btn btn-primary">Change my password</a>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Organization Access</h3>

        <p>You have access to the following organizations.</p>

        <ul class="list-group">
            {{#each orgs}}
            <li class="list-group-item">
                <span>{{this.name}}</span>
            </li>
            {{/each}}
        </ul>

        <form action="/account/organization/update" method="post">
            <ul class="list-group">
                {{#each orgList}}
                <li class="list-group-item">
                    <label for="org-{{this.id}}">
                        <input name="organizations" {{checkedIfIn this.id ../userOrgList}} id="org-{{this.id}}" value="{{this.id}}" type="checkbox">
                        &nbsp;{{this.name}}
                    </label>
                </li>
                {{/each}}
            </ul>

            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
    <div class="col-sm-12">
        <h3>Security</h3>

        <div>
            <a href="/account/security" class="btn btn-primary">Change my password</a>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>LIFX Bulb Connections</h3>

        <p>Used to send Environmental Orb commands to physical hardware <a href="/manuals/full/#_wifi_light_bulb_connection" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a>.</p>

        <p>
            <a href="/auth/go" class="btn btn-primary">Add LIFX account</a>
        </p>

        <table class="table table-striped ui-table">
            <thead>
                <tr>
                    <th>Label <a href="/manuals/full/#_labelling_2" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Type</th>
                    <th>Status <a href="/manuals/full/#_status_2" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Configuration</th>
                </tr>
            </thead>
            <tbody>
                {{#each integrations}}
                <tr{{#if this.requiresAuth}} class="danger"{{/if}}>
                    <td>{{#if this.label}}{{this.label}}{{else}}<i>Unlabeled</i>{{/if}}</td>
                    <td>{{this.type}}</td>
                    <td>{{#if this.requiresAuth}}Requires authorization{{else}}Ok{{/if}}</div></td>
                    <td>
                        <p>
                            {{#if this.requiresAuth}}
                            <a href="/auth/confirm/{{this.id}}" class="btn btn-default">Reauthorize</a>
                            {{else}}
                            <a href="/auth/label/{{this.id}}" class="btn btn-default">Edit</a>
                            {{/if}}
                            <a href="/auth/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                        </p>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="6">No LIFX connections are associated with this account.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
