<div class="row">
    <div class="col-sm-12">
        <h2>Environmental Orb Dashboard</h2>
        {{#if cleanAccount}}
        <div class="panel panel-success">
            <div class="panel-heading">Welcome</div>
            <div class="panel-body">
                <p>Your dashboard is a clean slate. You can get started by configuring a setup.</p>
                <ul>
                    <li>For help, see the <a href="/docs">Environmental Orb Documentation <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>.</a>
                    <li>For a step-by-step guide, see the <a href="/docs/beginners">Beginner's Guide: Setting up an Environmental Orb <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>.</a>
                </ul>
            </div>
        </div>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Your Bulbs</h3>
        <div class="panel panel-info">
            <div class="panel-heading">
                Bulb Configuration
                <a href="/docs/full/#_bulbs" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></div>
            <div class="panel-body">
                <p>The LIFX bulbs associated with your account are listed below. Each module can be configured:</p>
                <ul>
                    <li><strong>"On"</strong> or <strong>"Off"</strong> determines whether we are sending commands to your bulb
                    <li>The drop down menu assigns an orb to your bulb
                </ul>
                <p>To link a virtual orb with a bulb, turn on the bulb and assign it an orb. Bulbs that are enabled but do not have a virtual orb selected will not be sent commands. Note that a bulb can only be assigned one virtual orb, but several bulbs can potentially be assigned to the same virtual orb.</p>
            </div>
        </div>

        {{#if integration.errors}}
        <div class="alert alert-warning clearfix ui-alert-action">
            <p>An access token associated with your account went bad. Please visit your bulb integration settings to reauthorize.</p>
            <a href="/account/#integrations" class="btn pull-right btn-primary">Integration settings</a>
        </div>
        {{/if}}

        {{#if integration.none}}
        <div class="alert alert-warning clearfix ui-alert-action">
            <p>This account does not have any third-party bulb integrations (i.e., no linked LIFX accounts).</p>
            <a href="/auth/confirm" class="btn pull-right btn-primary">Add integration</a>
        </div>
        {{/if}}

        {{#if labellingNotice}}
        <div class="alert alert-warning clearfix">
            <p>One or more of your bulbs were detected to be using default LIFX labels. While not required, labelling your bulbs make them more manageable. For help on labelling your bulbs, see <a href="https://support.lifx.com/hc/en-us/articles/213449823-Setting-up-the-LIFX-app" target="_blank">"Setting up the LIFX App" <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a> and <a href="https://support.lifx.com/hc/en-us/articles/204538340-LIFX-Bulb-Setup" target="_blank">"LIFX Bulb Setup" <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>.</a> Read more about labelling in our documentation: <a href="/docs/full/#_labelling">Labelling <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>.</a>
            </p>
        </div>
        {{/if}}

        <table id="bulbs-table" class="table table-striped ui-table">
            <thead>
                <tr>
                    <th>Selector ID</th>
                    <th>Source <a href="/docs/full/#_source" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Label <a href="/docs/full/#_label" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Location <a href="/docs/full/#_location" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Group  <a href="/docs/full/#_group" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Status <a href="/docs/full/#_status" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                    <th>Controls <a href="/docs/full/#_controls" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></th>
                </tr>
            </thead>
            <tbody>
                {{#each bulbs}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this.integrationLabel}}</td>
                    {{#if this.info}}
                    <td>{{this.info.label}}</td>
                    <td>{{this.info.location.name}}</td>
                    <td>{{this.info.group.name}}</td>
                    {{else}}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {{/if}}
                    <td class="text-capitalize">
                        {{#if this.config.attributes.enabled}}
                        {{this.config.attributes.status}}
                        {{else}}
                        Disabled
                        {{/if}}
                    </td>
                    <td>
                        <form action="/dash/bulb/update" method="post">
                            <div class="col-sm-6">
                                <select name="orb" class="form-control" onchange="this.form.submit()">
                                    <option value="">No orb assigned</option>
                                    {{#each ../orbs}}
                                    <option value="{{this.id}}"{{selected this.id ../this.config.relations.orb.id}}>{{this.title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="ui-btn-toggle">
                                {{#if this.config.attributes.enabled}}
                                <label for="enable">
                                    <input type="radio" id="enable" onchange="this.form.submit()" name="enabled" value="true" checked>
                                    <span class="btn">On</span>
                                </label>

                                <label for="disable">
                                    <input type="radio" id="disable" onchange="this.form.submit()" name="enabled" value="false">
                                    <span class="btn">Off</span>
                                </label>

                                {{else}}

                                <label for="enable">
                                    <input type="radio" id="enable" onchange="this.form.submit()" name="enabled" value="true">
                                    <span class="btn">On</span>
                                </label>

                                <label for="disable">
                                    <input type="radio" id="disable" onchange="this.form.submit()" name="enabled" value="false" checked>
                                    <span class="btn">Off</span>
                                </label>
                                {{/if}}
                            </div>
                            <input type="hidden" value="{{@key}}" name="selector">
                            <input type="hidden" value="{{this.integration}}" name="integration">
                            <noscript>
                                <div class="form-group">
                                    <input type="submit" value="Save" name="save" class="btn btn-default">
                                </div>
                            </noscript>
                        </form>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="7">No bulbs are associated with this account.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Your Virtual Orbs</h3>
        <div class="panel panel-info">
            <div class="panel-heading">
                Virtual Orb Configuration
                <a href="/docs/full/#_virtual_orbs" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a>
            </div>
            <div class="panel-body">
                <p>The virtual orbs associated with your account are listed below. Prior to assigning a virtual orb to a bulb, you must configure the virtual orb here.</p>
            </div>
        </div>
        <p>
            <a href="/dash/orb/new" class="btn btn-primary">Create a virtual orb</a>
        </p>
        <table id="orbs-table" class="table table-striped ui-table">
            <thead>
                <tr>
                    <th>Title <a href="/docs/full/#_title" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></div></th>
                    <th colspan="2">Meter 1 <a href="/docs/full/#_meters" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></div></th>
                    <th colspan="2">Meter 2</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each orbs}}
                <tr>
                    <td class="col-sm-2">{{#if this.title}}{{this.title}}{{else}}Untitled orb{{/if}}</td>
                    <td class="col-sm-1 sort-use-next ui-orb-wrap"><div class="ui-orb orb-{{this.id}}-meter-1"></div></td>
                    <td class="col-sm-3">{{this.meter1.building}} {{this.meter1.name}}</td>
                    <td class="col-sm-1 sort-use-next ui-orb-wrap">
                        {{#if this.meter2}}
                        <div class="ui-orb orb-{{this.id}}-meter-2"></div>
                        {{else}}
                        No meter.
                        {{/if}}
                    </td>
                    <td class="col-sm-3">{{this.meter2.building}} {{this.meter2.name}}</td>
                    <td class="col-sm-2">
                        <p>
                            <a href="/dash/orb/edit/{{this.id}}" class="btn btn-default">Configure</a>
                            <a href="/dash/orb/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                        </p>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="7">No virtual orbs are associated with this account.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>
            <a href="/dash/orb/new" class="btn btn-primary">Create a virtual orb</a>
        </p>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#bulbs-table").tablesorter({
        headers: {
            5: {sorter: false},
            6: {sorter: false}
        },
        cssAsc: 'asc',
        cssDesc: 'desc',
        cssHeader: 'sort'
    });

    $("#orbs-table").tablesorter({
        headers: {
            3: {sorter: false}
        },
        textExtraction: function(node) {
            if(node.classList.contains('sort-use-next')) {
                return node.nextElementSibling.innerHTML;
            }

            return node.innerHTML;
        },
        cssAsc: 'asc',
        cssDesc: 'desc',
        cssHeader: 'sort'
    });

    $("table a").click(function(event) {
        event.stopPropagation();
    });
});
</script>
