<div class="row{{#if customSamples}} multiple-sample-sizes{{/if}}" id="orb-config">
    <div class="col-sm-12">
        <h2>Virtual Orb Configuration</h2>

        <p>Configure a virtual orb so that relative usage information can be conveyed visually through Environmental Orb standard colors <a href="/manuals/full/#_virtual_orbs" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a>.</p>

        <p>Required fields indicated with asterisk (*).</p>

        {{#if errors}}

        <div class="alert alert-danger">
            <p><strong>There was a problem with these configuration settings.</strong> Please fix the indicated errors.</p>
        </div>

        {{/if}}

        <h3>Properties</h3>

        <form method="post">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="title">Title <a href="/manuals/full/#_title" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></label>

                    <p id="title-help">A virtual orb's title is used as a label when assigning a virtual orb to a bulb. Brief and descriptive titles make recognition easy.</p>

                    <input type="text" class="form-control" aria-describedby="title-help" name="title" id="title" placeholder="Title" value="{{form.title}}" maxlength="150">

                    <p class="help-block">Maximum 150 characters.</p>

                </div>
            </div>

            {{#if errors.title}}

            <div>
                <div class="alert alert-warning">
                    {{#each errors.title}}

                    <p>{{this}}</p>

                    {{/each}}
                </div>
            </div>

            {{/if}}

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="meter1">Meter #1 <span class="text-info">*</span> <a href="/manuals/full/#_meters" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></label>

                    <select required name="meter1" id="meter1" class="form-control">
                        {{#each buildings}}
                        <optgroup label="{{@key}}">
                            {{#each this}}
                            <option value="{{this.id}}"{{selected ../../form.meter1 this.id}}>{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                    </select>
                </div>
            </div>

            {{#if errors.meter1}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.meter1}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="meter2">Meter #2</label>
                    <select name="meter2" id="meter2" class="form-control">
                        <option value="">None</option>
                        {{#each buildings}}
                        <optgroup label="{{@key}}">
                            {{#each this}}
                            <option value="{{this.id}}"{{selected ../../form.meter2 this.id}}>{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                    </select>
                </div>
            </div>

            {{#if errors.meter2}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.meter2}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <h3>Typical Use Calculation</h3>

            <p>Manage the algorithm inputs used to calculate the orb's typical usage <a href="/manuals/full/#_typical_use_algorithm" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a>.</p>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="meter2">Data groupings <span class="text-info">*</span> <a href="/manuals/full/#_data_groupings" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></label>

                    <p id="datagroupings-help">Orbs convey information about how current resource use compares to typical resource use at a given time. The typical use algorithm allows days of the week in which typical use is similar to be grouped together. For example, office buildings are occupied less on weekends. Marking weekends and weekdays as separate groups makes for better typical use estimates.</p>
                </div>
                <div class="form-group col-sm-12" id="preset-options">
                    <p>For easy configuration, select the button below that best describes the chosen meter's resource use:</p>
                    <input type="button" class="btn btn-default" value="Use significantly different each day" data-preset="separate">
                    <input type="button" class="btn btn-default" value="Use significantly different during weekends/weekdays" data-preset="weekendsWeekdays">
                    <input type="button" class="btn btn-default" value="Use follows typical school schedule" data-preset="school">
                </div>
                <div class="form-group col-sm-12">
                    <table class="ui-datagroup-table ui-table table table-striped" id="configuration-table" aria-describedby="datagroupings-help">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>

                                {{#each days}}
                                <th>{{this}}</th>
                                {{/each}}

                                <th class="n-days">Sample size <i>(days)</i></th>
                            </tr>
                        </thead>

                        {{#each days}}

                        <tr>
                            <td class="ui-table-left">Group {{add @key 1}}</td>

                            {{#each ../days}}
                            <td>
                                <input type="radio" id="checkbox-group-{{@../key}}-day-{{@key}}" name="day_{{@key}}" value="{{@../key}}"{{checked ../../form.daySets @../key @key}}>
                            </td>
                            {{/each}}

                            <td>
                                <input type="number" class="form-control input-sm" name="samplesize_{{@key}}" value="{{npoints ../form.daySets @key}}">
                            </td>
                        </tr>

                        {{/each}}
                    </table>
                </div>
            </div>

            {{#if errors.daySets}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.daySets}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <!-- /DAY SETS -->

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="interval">Sample size <i>(days)</i> <span class="text-info">*</span> <a href="/manuals/full/#_sample_size" title="Reference the docs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" aria-label="Reference the docs"></span></a></label>

                    <p>Sample size dictates how many days of prior data are used. If less data are available than specified, the algorithm will use as much data as it can collect.</p>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="sample-size-toggler" name="customGroupings" {{#if customSamples}}checked{{/if}} value="true">
                        Specify sample size for each individual data grouping.
                      </label>
                    </div>
                    <input type="number" min="5" max="50" value="{{#if form.daySets}}{{form.daySets.0.npoints}}{{else}}5{{/if}}" class="form-control" name="sample" id="sample-size">

                    <p class="help-block">Minimum 5 points, maximum 50 points.</p>
                </div>
            </div>

            {{#if errors.interval}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.meter2}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="submit" name="save" class="btn btn-default" value="Save">
                    <a href="/dash" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#sample-size-toggler").change(function() {
        let checked = this.checked;

        if (checked) {
            $("#orb-config").addClass("multiple-sample-sizes");
        } else {
            $("#orb-config").removeClass("multiple-sample-sizes");
        }
    });

    $("#sample-size-toggler").change();

    var presets = {
        separate:
            [
                [1,0,0,0,0,0,0],
                [0,1,0,0,0,0,0],
                [0,0,1,0,0,0,0],
                [0,0,0,1,0,0,0],
                [0,0,0,0,1,0,0],
                [0,0,0,0,0,1,0],
                [0,0,0,0,0,0,1]
            ],
        weekendsWeekdays:
            [
                [1,0,0,0,0,0,1],
                [0,1,1,1,1,1,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0]
            ],
        school:
            [
                [1,0,0,0,0,0,1],
                [0,1,0,1,0,1,0],
                [0,0,1,0,1,0,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0],
                [0,0,0,0,0,0,0]
            ]
    };

    $("#preset-options input").click(function(){
        if($(this).attr('data-preset') in presets) {
            let preset = presets[ $(this).attr('data-preset') ];

            for(row in preset) {
                for(column in preset[row]) {
                    $("#checkbox-group-" + row + "-day-" + column).prop('checked', preset[row][column]);
                }
            }
        }
    });
});
</script>
