<div class="row">
    <div class="col-sm-12">
        <h2>Virtual orb configuration</h2>

        <p>Required fields indicated with asterisk (*).</p>

        {{#if errors}}

        <div class="alert alert-danger">
            <p><strong>There was a problem with these configuration settings.</strong> Please fix the indicated errors.</p>
        </div>

        {{/if}}

        <h3>Properties</h3>

        <form method="post">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="title">Title</label>

                    <p id="title-help">A virtual orb's title is used as a label when assigning a virtual orb to a bulb. Brief and descriptive titles make recognition easy.</p>

                    <input type="text" class="form-control" aria-describedby="title-help" name="title" id="title" placeholder="Title" value="{{form.title}}" maxlength="150">

                    <p class="help-block">Maximum 150 characters.</p>

                </div>
            </div>

            {{#if errors.title}}

            <div>
                <div class="alert alert-warning">
                    {{#each errors.title}}

                    <p>{{this}}</p>

                    {{/each}}
                </div>
            </div>

            {{/if}}

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="meter1">Meter #1 <span class="text-info">*</span></label>

                    <select required name="meter1" id="meter1" class="form-control">
                        {{#each buildings}}
                        <optgroup label="{{@key}}">
                            {{#each this}}
                            <option value="{{this.id}}"{{selected ../../form.meter1 this.id}}>{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                    </select>
                </div>
            </div>

            {{#if errors.meter1}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.meter1}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="meter2">Meter #2 <span class="text-info">*</span></label>
                    <select name="meter2" id="meter2" class="form-control">
                        <option value="">None</option>
                        {{#each buildings}}
                        <optgroup label="{{@key}}">
                            {{#each this}}
                            <option value="{{this.id}}"{{selected ../../form.meter2 this.id}}>{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                        {{/each}}
                    </select>
                </div>
            </div>

            {{#if errors.meter2}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.meter2}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <h3>Typical Use Calculation</h3>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="meter2">Data groupings <span class="text-info">*</span></label>

                    <p id="datagroupings-help">Orbs convey information about how current resource use compares to typical resource use at a given time. The typical use algorithm allows days of the week in which typical use is similar to be grouped together. For example, office buildings are occupied less on weekends. Marking weekends and weekdays as separate groups makes for better typical use estimates. Some buildings are used differently on different days of the week. Buildings with different schedules for Mondays, Wednesdays, and Fridays than Tuesdays and Thursdays may have three groups for typical use: Sunday and Saturday; Monday, Wednesday, and Friday; and Tuesday and Thursday.</p>

                    <table class="ui-datagroup-table table table-striped col-sm-12" aria-describedby="datagroupings-help">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>

                                {{#each days}}
                                <th>{{this}}</th>
                                {{/each}}

                                <th>Sample size</th>
                            </tr>
                        </thead>

                        {{#each days}}

                        <tr>
                            <td class="ui-table-left">Group {{add @key 1}}</td>

                            {{#each ../days}}
                            <td>
                                <input type="radio" name="day_{{@key}}" value="{{@../key}}"{{checked ../../form.daySets @../key @key}}>
                            </td>
                            {{/each}}

                            <td>
                                <input type="number" class="form-control" name="samplesize_{{@key}}" value="{{npoints ../form.daySets @key}}">
                            </td>
                        </tr>

                        {{/each}}
                    </table>
                </div>
            </div>

            {{#if errors.daySets}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.daySets}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <!-- /DAY SETS -->

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="interval">Sample size <span class="text-info">*</span></label>

                    <p>Data for recent days are used to calculate typical use. Sample size dictates how many days of prior data are used. If less data are available than specified, the algorithm will use as much data as it can collect.</p>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="customGroupings" value="true">
                        Specify sample size for each individual data grouping.
                      </label>
                    </div>

                    <input type="number" min="5" max="50" value="{{#if form.sampleSize}}{{form.sampleSize}}{{else}}5{{/if}}" class="form-control" name="sample">

                    <p class="help-block">Minimum 5 points, maximum 50 points.</p>
                </div>
            </div>

            {{#if errors.interval}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-warning">
                        {{#each errors.meter2}}

                        <p>{{this}}</p>

                        {{/each}}
                    </div>
                </div>
            </div>

            {{/if}}

            <div class="row form-group">
                <div class="col-sm-12">
                    <input type="submit" name="save" class="btn btn-default" value="Save">
                    <a href="/dash" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
