<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    {{#if page.stylesheets}}
    {{#each page.stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}
    {{/if}}
    <link rel="icon" href="/images/logo.png">

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/tablesorter/jquery.tablesorter.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/dependent-select.js"></script>

    <title>{{#if page.title}}{{page.title}} | {{/if}}Environmental Orb</title>
</head>

<body>
    <div class="page-wrap">
        <header>
            <nav class="navbar navbar-inverse navbar-static-top ui-navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Environmental Orb</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        {{#if loggedIn}}
                        <li{{#if page.active.dashboard}} class="active"{{/if}}><a href="/dash">Dashboard</a></li>
                        <li{{#if page.active.docs}} class="active"{{/if}}><a href="/manuals">User Manuals</a></li>
                        <li class="dropdown{{#if page.active.account}} active{{/if}}">
                            <a href="/account" id="account-options" title="Account settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{loggedIn.email}}
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="account-options">
                                <li><a href="/account">Account</a></li>
                                <li><a href="/account/signout">Sign out</a></li>
                            </ul>
                        </li>
                        {{else}}

                        <li{{#if page.active.docs}} class="active"{{/if}}><a href="/manuals">User Manuals</a></li>
                        <li{{#if page.active.signin}} class="active"{{/if}}><a href="/account/signin">Login</a></li>
                        <li{{#if page.active.signup}} class="active"{{/if}}><a href="/account/signup">Sign up</a></li>

                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container">
            {{{body}}}
        </div>

        <footer id="page-footer" class="container ui-footer">
            <div class="row">
                <div class="row-wrap">
                    <div class="col-sm-6 pull-right">
                        <ul class="footer-nav pull-right">
                            {{#if loggedIn}}
                            <li>Logged in as <a href="/account">{{loggedIn.email}}</a></li>
                            <li><a href="/guide">Guide</a></li>
                            <li><a href="/dash">Dashboard</a></li>
                            <li><a href="/account/signout">Sign out</a></li>
                            {{else}}

                            <li><a href="/guide">Guide</a></li>
                            <li><a href="/account/signin">Login</a></li>
                            <li><a href="/account/signup">Sign up</a></li>

                            {{/if}}
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <img src="/images/logo.png" class="pull-left ui-footer-logo">
                        <p>Built by Environmental Dashboard</p>
                        <ul class="footer-nav">
                            <li><a href="#">Terms</a>
                            <li><a href="#">Privacy</a>
                            <li><a href="#">License</a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
