<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Account Overview</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Personal Information</h3>

            <div class="row">
                <div class=" col-sm-6">
                    <p class="ui-label">First name</p>{{log loggedIn}}
                    <p>{{#if loggedIn.fname}}{{loggedIn.fname}}{{else}}<i>No info</i>{{/if}}</p>
                </div>
                <div class=" col-sm-6">
                    <p class="ui-label">Last name</p>
                    <p>{{#if loggedIn.lname}}{{loggedIn.lname}}{{else}}<i>No info</i>{{/if}}</p>
                </div>
            </div>

            <div class="">
                <p class="ui-label">Email</p>
                <p>{{#if loggedIn.email}}{{loggedIn.email}}{{else}}<i>No info</i>{{/if}}</p>
            </div>

            <div>
                <a href="/account/config" class="btn btn-primary">Update info</a>
            </div>
    </div>
    <div class="col-sm-12">
        <h3>Security</h3>

        <div>
            <a href="/account/security" class="btn btn-primary">Change my password</a>
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Third-party Integrations</h3>
    </div>
</div>
