<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <h2>Add an Orb</h2>

            <p>Required fields indicated with asterisk (*).</p>

            {{#if errors}}

            <div class="alert alert-danger">
                <p><strong>There was a problem with these configuration settings.</strong> Please fix the indicated errors.</p>
            </div>

            {{/if}}

            <form action="/dash/orb/new" method="post">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="title">Title</label>

                        <input type="text" class="form-control" aria-describedby="title-help" name="title" id="title" placeholder="Title" value="{{form.title}}" maxlength="150">
                        <p id="title-help" class="help-block">Title your orb for easy recognition.</p>
                    </div>
                </div>

                {{#if errors.title}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.title}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="meter1">Meter #1 <span class="text-info">*</span></label>

                        <select required name="meter1" id="meter1" class="form-control">
                            {{#each buildings}}
                            <optgroup label="{{@key}}">
                                {{#each this}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#if errors.meter1}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.meter1}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="meter2">Meter #2 <span class="text-info">*</span></label>

                        <select required name="meter2" id="meter2" class="form-control">
                            {{#each buildings}}
                            <optgroup label="{{@key}}">
                                {{#each this}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#if errors.meter2}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.meter2}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <!-- DAY SETS -->

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="meter2">Typical usage day sets <span class="text-info">*</span></label>

                        <table class="ui-table col-sm-12">
                            <tr>
                                <td>&nbsp;</td>

                                {{#each days}}
                                <td>{{this}}</td>
                                {{/each}}
                            </tr>

                            {{#each days}}

                            <tr>
                                <td class="ui-table-left">Group</td>

                                {{#each ../days}}
                                <td><input type="radio" name="day_{{@key}}" value="{{@../key}}">{{@../key}}</td>
                                {{/each}}
                            </tr>

                            {{/each}}
                        </table>
                    </div>
                </div>

                {{#if errors.daySets}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.daySets}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <!-- /DAY SETS -->

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="interval">Typical usage interval <span class="text-info">*</span></label>

                        <input type="number" min="5" max="55" value="5" class="form-control">
                    </div>
                </div>

                {{#if errors.interval}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.meter2}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <div class="row form-group">
                    <div class="col-sm-12">
                        <input type="submit" name="save" class="btn btn-default btn-primary" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
