<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <h2>Add an Orb</h2>
            <p>In order to active your bulb(s) to emulate an orb, you need to create an orb first. Configure your new orb below.</p>

            {{#if errors}}

            <div class="alert alert-danger">
                <p><strong>There was a problem with these configuration settings.</strong> Please fix the indicated errors.</p>
            </div>

            {{/if}}

            <form action="/account/signup" method="post">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="title">Title</label>

                        <input type="text" maxlength="150" class="form-control" aria-describedby="title-help" name="title" id="title" placeholder="Title">
                        <p id="title-help" class="help-block">Title your orb for easy recognition.</p>
                    </div>
                </div>

                {{#if errors.title}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.title}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="meter1">Meter #1</label>

                        <select name="meter1" id="meter1" class="form-control">
                            {{#each buildings}}
                            <optgroup label="{{@key}}">
                                {{#each this}}
                                <option value="{{this.api}}">{{this.name}}</option>
                                {{/each}}
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#if errors.meter1}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.title}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="meter2">Meter #2</label>

                        <select name="meter2" id="meter2" class="form-control">
                            {{#each buildings}}
                            <optgroup label="{{@key}}">
                                {{#each this}}
                                <option value="{{this.api}}">{{this.name}}</option>
                                {{/each}}
                            </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>

                {{#if errors.meter2}}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">
                            {{#each errors.title}}

                            <p>{{this}}</p>

                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/if}}

                <div class="row form-group">
                    <div class="col-sm-12">
                        <input type="submit" name="save" class="btn btn-default btn-primary" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
